CompileFlags:
  Compiler: g++
  Add:
    - -xc++
    - -std=c++23
    - -Wall
    - -Wextra
    - -Wpedantic
    - -ggdb
    - -Iinclude
    - -Iinclude/common
    - -Iinclude/common/details
    - -Iinclude/io
    - -Iinclude/io/async
    - -Ivendor
  Remove:
    - -fsanitize=*
